body {
    font-weight: 100;
    background: var(--bs-light);
    color: var(--bs-light);
    font-family: 'Kiona', sans-serif;
    background-image: radial-gradient(circle, #1F1F1F 40%, var(--bs-dark) 70%, var(--bs-primary) 200%);
}

* {
    line-height: 1.2;
}

nav {
    background-color: transparent;
    margin-bottom: 50px;
}
.navbar {
    height: 100px;

    border-bottom: 1px solid  ;
    border-bottom-color: var(--bs-primary);
}
.navbar-text {
    color: var(--bs-primary );
    font-weight: bolder;
}

.navbar-brand {
    position:absolute;
    left: 10px;
}

@keyframes movingTitle {
    0% { transform: translateX(1000px); }
    100% { transform: translateX(0); }
}

@keyframes movingSubTitle {
    0% { transform: translateX(-1000px); }
    100% { transform: translateX(0); }
}

.title {
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    font-size: 6rem;
    text-align: center;
    animation: movingTitle 1.5s;
}

.sub-title {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    animation: movingSubTitle 1.5s;


}
.heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.paragraph {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;

}

.form-group input, .form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px dotted #6c757d;
    color: var(--bs-dark);
}

.select {
    background-color: var(--bs-dark) !important;
    color: #ccc;
    border: none;
    border-radius: 0;
    border-bottom: 2px dotted #6c757d;
}

#start {
    color: #ccc;
}

.select option {
    color: white;
}

.form {
    align-self: center;
    max-width: 600px;
    border: 2px dashed var(--bs-primary);
    border-radius: 25px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.btn-primary {
    background-color: var(--bs-primary);
}

h3, h2 {
    color: var(--bs-primary);
}

.btn {
    position: relative;
    alignment: center;
}

#single {
    display:block;
}

#multiple {
    display:none;

}



.form-control::placeholder {
    color: #ccc
}

.navbar-custom .navbar-brand {
    color: var(--bs-light);
}