.welcome-message {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding-top: 100px;
    padding-bottom: 120px;
    color: var(--bs-primary);
}
body{
    background-color: var(--bs-dark);
}
.announcementText, .eventsText{
    font-weight: bold;
    font-size: 22px;
    color:var(--bs-primary) ;
}

.announcementContainer {
    width: 50%;
    height: fit-content;
    padding: 10px;
    margin: auto auto 30px;
    color:var(--bs-light);
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
    background-color: var(--bs-dark);
}

.overflow-auto::-webkit-scrollbar{
    display: none;
}

.eventsContainer {
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border: 1px solid;
    border-color: var(--bs-primary);
    border-radius: 5px;
    background-color: var(--bs-dark);
}

.postAnnouncementBttn,.latestEvents , .saveBttn, .closeBttn, .btn-close, .accordion-button, .createEventBttn, .saveEventBttn {
    background-color: var(--bs-primary);
    border-radius: 20px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: auto;
}
.postAnnouncementBttn{
    text-align: right;
}
.overflow-auto{
    width : 100%;
}

.accordion-events-button, .crewButton{
    background-color: var(--bs-primary);
    border-radius: 20px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: 10%;
    margin-bottom: 10px;
}


.accordion-button{
    margin-bottom: 10px;
    text-align: justify;
    display: inline-block;
    width: 100%;
}

.closeBttn ,{
    background-color: red;
}

.inputTitle{
    display: block;
    width: 100%;
    overflow-y: auto;
}

.announcementContainer .row .col .flex-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: var(--bs-primary);
}

.eventsContainer .row .col .flex-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: var(--bs-primary);
}

.announcementItem{
    border-bottom: 1px solid;
    border-color: var(--bs-primary);
}
/* style.css */

.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.title {
    font-weight: bold;
}
.announcementTitle, .accordion-item {
    font-size: 18px;
    display: block;
}
.dateTime , .Author {
    font-size: 14px;
    display: block;
}

.announcementContent{
    font-size: 14px;
}
.accordion-body{
    color:var(--bs-primary) ;
}

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: var(--bs-light);
}

* {
    font-family: 'Kiona', sans-serif;
}
.navbar{
    background-color: var(--bs-dark) ;
    border-bottom: 1px solid  ;
    border-bottom-color: var(--bs-primary);
}
 .modal-content{
     color: var(--bs-light);
     background-color: var(--bs-dark);
 }
