/*
        MODAL CONTAINER
*/
.modal.fade .modal-dialog .modal-content {
    background-color: var(--bs-dark);
}

.modal.fade .modal-dialog .modal-content .modal-header , #inputCBtns, #inputSBtns{
    border-bottom: #1F1F1F 1px;
    justify-content: space-between; /* container is flex by default */
    margin: 5px;
    color: var(--bs-light);
}

#inputCBtns{
    border-color: red;
}
#inputSBtns{
    border-color: var(--bs-primary-rgb);
}
#inputCBtns, #inputSBtns{
    text-align: right   ;
    font-size: 20px;
}

.modal.fade .modal-dialog .modal-content .modal-body {
    padding: 0 16px 5px; /* 0 top, 16 sides, 5 bottom */
    margin-bottom: 16px;
}

.modal.fade .modal-dialog .modal-content .modal-body #inputTitle,
.modal.fade .modal-dialog .modal-content .modal-body #inputDetails {
    margin-bottom: 10px;
}

.modal.fade .modal-dialog .modal-content .modal-body #inputTitle,
.modal.fade .modal-dialog .modal-content .modal-body #inputDetails,
.modal.fade .modal-dialog .modal-content .modal-body #inputID{
    border-radius: 5px;
    border-width: 0;
    background: lightgray;
}

.inputContainer{
    width: 40px;
}

.welcome-message {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin: 30px;
    color: var(--bs-light);
}
body{
    background-color: var(--bs-dark);
}

.announcementText, .eventsText{
    font-weight: bold;
    font-size: 22px;
    margin: 0 !important;
    color: var(--bs-dark);
}

.announcementContainer {
    width: 90vw;
    height: fit-content;
    padding: 0 20px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--bs-light);

}

.overflow-auto::-webkit-scrollbar{
    display: none;
}

.eventsContainer {
    width: 90vw;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border: 1px solid;
    border-color: var(--bs-primary);
    border-radius: 5px;
    background-color: var(--bs-dark);
}

.postAnnouncementBttn,.latestEvents , .saveBttn, .btn-close, .accordion-button, .createEventBttn, .saveEventBttn {
    background-color: var(--bs-primary);
    border-radius: 20px;
    padding: 0 20px;
}

.postAnnouncementBttn,.latestEvents , .saveBttn, .closeBttn, .btn-close, .createEventBttn, .saveEventBttn {
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.postAnnouncementBttn{
    text-align: right;
}
.overflow-auto{
    width : 100%;
}

.crewButton{
    background-color: var(--bs-primary);
    border-radius: 20px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: 10%;
    margin-bottom: 10px;
}

.closeBttn {
    border-radius: 20px;
    border-color: black;
    color: var(--bs-light);
    margin-left: auto;
    background-color: red;
}
.inputRecipients{
    display: compact;
    width: 100%;
    overflow-y: auto;
}

.inputTitle {
    display: block;
    width: 100%;
    overflow-y: auto;
}

.announcementContainer .row .col .flex-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding: 10px 0;
    border-color: var(--bs-dark);
}

.eventsContainer .row .col .flex-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: var(--bs-dark);
    padding: 10px 0;
}

.announcementItem{
    border-bottom: 1px solid;
    border-color: var(--bs-dark);
}
/* style.css */

.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.title {
    font-weight: bold;
}
.announcementTitle {
    font-size: 18px;
    display: block;
}
.dateTime , .Author {
    font-size: 14px;
    display: block;
}

.announcementContent{
    font-size: 14px;
}

#eventsAccordion {
    padding: 10px 0;
}

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: var(--bs-light);
    z-index: 1;
}

* {
    font-family: 'Kiona', sans-serif;
}
.navbar-custom,
.navbar-custom .navbar-brand,
.navbar-custom .container-fluid .modal-content{
    color: var(--bs-light);
    background-color: var(--bs-dark) ;
}

.accordion-item, .accordion-button {
    border-radius: 20px !important;
    border: 0 !important;
}

.accordion-button {
    transition: 0.3s;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-dark) !important;
    background-color: var(--bs-primary) !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active, .accordion-button:focus {
    border: hidden !important;
    box-shadow: none !important;
    outline: 0;
}

.accordion-item + .accordion-item {
    margin-top: 10px;
}

.accordion-button.collapsed {
    background-color: var(--bs-primary);
    display: flex;
}
