.navbar-custom {
    background-color: #1F1F1F;
    color: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: #F1F1F1;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #525252;
}

.calendar .header .month {
    display:flex ;
    align-items: center;
    font-size: 30px;
    font-weight:1000;
    color: #1F1F1F;
}

.weekdaysName {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.weekdaysName .day {
    width: calc(100% / 7 - 10px); /* 10px so the space between names is equal under the bar */
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.weekdaysNumber {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weekdaysNumber .day {
    display: flex;
    width: calc(100% / 7 - 40px);
    margin: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #F1F1F1;
    background-color: #525252;
    transition: all 0.3s;
}

.weekdaysNumber .day:not(.next):not(.prev):hover {
    color: #F1F1F1;
    background-color: #1696D2;
    transform: scale(1.10);
}

.weekdaysNumber .day.today {
    color: #F1F1F1;
    background-color: #1696D2;
}

.weekdaysNumber .day.prev,
.weekdaysNumber .day.next {
    color: #1F1F1F;
    background-color: #dde0e3;
}


/* ********************** SIDE BAR ***************** */
.side_bar {
    width: 70px;
    height: calc(100% - 250px);
    background: #3e3e3e; /* 373b3e */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.side_bar ul {
    position: relative;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.side_bar ul li a {
    display: block;
    color: #F1F1F1;
    font-size: 20px;
    outline: none;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s;

}

.side_bar ul li.active a{
    background: #F1F1F1;
    color: #525252;
    padding-bottom: 15px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}


body {
    background-color: #525252;
}
