:root {
    font-size: 16px;
    --bs-primary-rgb: 22, 150, 210;
    --bs-primary: rgb(var(--bs-primary-rgb)) !important;
    --bs-primary-bg-subtle: rgba(var(--bs-primary-rgb), 0.1);
    --bs-secondary-rgb: 82, 82, 82;
    --bs-secondary: rgb(var(--bs-primary-rgb)) !important;
    --bs-secondary-bg-subtle: rgba(var(--bs-primary-rgb), 0.1);
    --bs-dark-rgb: 31, 31, 31;
    --bs-dark: rgb(var(--bs-primary-rgb)) !important;
    --bs-dark-bg-subtle: rgba(var(--bs-primary-rgb), 0.1);
    --bs-light-rgb: 241, 241, 241;
    --bs-light: rgb(var(--bs-primary-rgb)) !important;
    --bs-light-bg-subtle: rgba(var(--bs-primary-rgb), 0.1);

}

.kiona {
    font-family: 'Kiona', sans-serif !important;
}

.shotmaniacs-black {
    color: var(--bs-dark)
}

.shotmaniacs-gray {
    color: var(--bs-secondary)
}

.shotmaniacs-light-blue {
    color: var(--bs-primary)
}

.shotmaniacs-peal{
    color: var(--bs-light)
}