/**************************************/
/******* STYLES FOR CREW MEMBERS ******/
/**************************************/

/**************************************/
/********** STYLES FOR NAVBAR *********/
/**************************************/
.navbar-animated {
    animation-duration: 4.0s;
    animation-name: navbarFadeInAnimation;
}

@keyframes navbarFadeInAnimation {
    0% {
        opacity: 0
    }
    60% {
        opacity: 0
    }
    80% {
        opacity: 0.8
    }
    90% {
        opacity: 0.9
    }
    100% {
        opacity: 1
    }
}

.navbar-custom .navbar-brand {
    color: var(--bs-light);
}

/**************************************/
/******** STYLES FOR DASHBOARD ********/
/**************************************/

/* To edit the height of the welcome container, so the animation
doesn't get in the way of building / maintaining the website*/
.container.welcome-container {
    display: flex;
    min-height: 0 !important;
    /*height: 15vh !important; !* TO BE DELETED WHEN DONE WITH PAGE SO ANIMATION WORKS *!*/
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    opacity: 1;
}

.container.welcome-container.animate {
    animation-name: shrinkAnimation;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.container.welcome-container.still {
    display: flex;
    height: 19vh !important;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

@keyframes shrinkAnimation {
    to {
        height: 19vh;
    }
}

.container.welcome-container .welcomeMessageName {
    font-size: 60px;
    position: relative;
}

.container.welcome-container .welcomeMessageName.animate {
    animation: linear;
    animation-name: welcomeMessageNameAnimation;
    animation-duration: 2.3s;
    animation-timing-function: ease-out, ease-in;
}

.container.welcome-container .welcomeMessageEvents {
    font-size: 30px;
    position: relative;
}

.container.welcome-container .welcomeMessageEvents.animate {
    animation: linear;
    animation-name: welcomeMessageEventsAnimation;
    animation-duration: 2.3s;
    animation-timing-function: ease-out, ease-in;
}

@keyframes welcomeMessageNameAnimation {
    0% {
        left: -180px;
        opacity: 0
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes welcomeMessageEventsAnimation {
    0% {
        left: 180px;
        opacity: 0
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

/* ************************** */
/* MAIN BODY OF THE DASHBOARD */
/* ************************** */

.section-title {
    font-size: 1.5rem;
}

.personalTag {
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

.announcement-date-span {
    margin-left: auto;
}

.tab_content {
    overflow: scroll;
}

.tab_anno .accordion-button::after {
    margin-left: 1rem !important;
}

.event-title {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    padding: 1.25rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

.eventBody {
    padding: 2%;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60vh !important;
    margin: auto;
}

.main-container .content-container {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--bs-light);
    padding: 20px;
}

.content-container .tab_content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 98%;
    color: var(--bs-dark);
}

.content-container .tab_content.tab_current .carousel.slide {
    display: flex;
    justify-content: flex-start;
    color: var(--bs-dark);
    height: 90%;
    width: 100%;
    position: relative;
}

.content-container .tab_content.tab_current .carousel.slide .carousel-inner {
    font-size: 19px;
    overflow: scroll;
}

.content-container .tab_content.tab_current .carousel.slide .carousel-control-prev {
    color: var(--bs-dark);
    position: absolute !important;
    height: 10%;
    width: 6%;
    bottom: 0;
    left: 0;
    top: auto;
    margin-bottom: 0;
    margin-left: 0;
}

.content-container .tab_content.tab_current .carousel.slide .carousel-control-next {
    color: var(--bs-dark);
    position: absolute !important;
    height: 10%;
    width: 6%;
    bottom: 0;
    right: 0;
    top: auto;
    margin-bottom: 0;
    margin-right: 0;
}

.content-container .tab_content.tab_current .carousel.slide .carousel-control-prev .carousel.icon,
.content-container .tab_content.tab_current .carousel.slide .carousel-control-next .carousel.icon {
    font-size: 30px;
}

.content-container .tab_content.tab_past {
    overflow: scroll;
    scrollbar-width: none;
}

.content-container .tab_content.tab_past::-webkit-scrollbar {
    display: none;
}

/*.content-container .tab_content.tab_past {*/
/*    overflow: scroll;*/
/*}*/
/* ************************** */
/* ** SIDEBAR OF DASHBOARD ** */
/* ************************** */

.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: var(--bs-light);
}

.sidebar-container .slider {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, var(--bs-dark), var(--bs-light));
    transition: transform 0.3s ease-in-out; /* Add transition for sliding effect */
    /*z-index: -1;*/
}

.sidebar-container .sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    padding: 0;
}

.sidebar-container .sidebar-list li.sidebar-list-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-dark);
    outline: none;
    text-decoration: none;
    transition: background-color 1s ease-in;
    padding: 0 !important;
    height: 80px;
}

.sidebar-container .sidebar-list li.sidebar-list-item.active a {
    /*background: var(--bs-secondary);*/
    color: var(--bs-light);
    transition: color 0.3s ease-in-out;
    transition-delay: 0.1s;
    padding-bottom: 15px;
}

.sidebar-container .sidebar-list li.sidebar-list-item a .icon {
    font-size: 23px;
}

/**************************************/
/********* STYLES FOR CALENDAR ********/
/**************************************/


.container {
    width: 100%;
    max-width: 95%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 80%;
    max-height: 90vh;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: var(--bs-light);
    overflow: scroll;
    scrollbar-width: none; /* for firefox */
    z-index: 1;
}

.container .calendar::-webkit-scrollbar { /* for chrome */
    display: none;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--bs-dark);
}

.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 1000;
    color: var(--bs-dark);
}

.calendar .header .btns {
    display: flex;
    gap: 10px;
}

.calendar .header .btns .btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .header .btns .btn.prev .icon {
    transform: rotate(180deg);
}

.calendar .header .btns .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-dark);
    font-size: 30px;
    cursor: pointer;
}

.calendar .header .btns .btn:hover {
    transition: 0.3s;
    border-radius: 5px;
}

.weekdaysName {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.weekdaysName .day {
    width: calc(100% / 7 - 10px); /* 10px so the space between names is equal under the bar */
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.weekdaysNumber {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.weekdaysNumber .day {
    display: flex;
    width: calc(100% / 7 - 40px);
    margin: 15px;
    height: 4vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--bs-light);
    background-color: var(--bs-dark);
    transition: all 0.3s;
    cursor: pointer;
}

.weekdaysNumber .day:not(.next):not(.prev):hover {
    transform: scale(1.10);
}

.weekdaysNumber .day.current {
    color: var(--bs-light);
    background-color: var(--bs-primary);
}

.weekdaysNumber .day.prev,
.weekdaysNumber .day.next {
    background-color: white;
    color: var(--bs-dark);
    border: 2px solid var(--bs-dark);
    cursor: pointer;
}

.weekdaysNumber .day .dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
}

/* ********************** LEFT SIDE BAR ***************** */
.container .left_side_bar {
    width: 70px;
    height: calc(100% - 250px);
    background: var(--bs-dark);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 15px;
}

.left_side_bar ul {
    position: relative;
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
!important;
}

.left_side_bar ul li a {
    display: block;
    width: 200%;
    color: var(--bs-light) !important;
    font-size: 20px;
    outline: none;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    translate: 0;
    z-index: 2;
    background: transparent;
}

.left_side_bar ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    background: var(--bs-light);
    transition: left 0.3s;
    z-index: -1;
    border-radius: 20px;
}

.left_side_bar ul li.active a:hover:after, .left_side_bar ul li.active a:after {
    left: 0;
}

.left_side_bar ul li.active a {
    color: var(--bs-dark) !important;
    translate: -15px;
}

.left_side_bar ul li a:hover {
    translate: -15px;
    transition: 0.3s;
}

/* ************************************************** */
/* ***************** RIGHT SIDE BAR ***************** */
/* ************************************************** */

.container .right_side_bar {
    position: relative;
    width: 60%;
    height: 30rem;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--bs-light);
    border-left: px solid var(--bs-dark);
    overflow: scroll;
    scrollbar-width: none;
}

.container .right_side_bar::-webkit-scrollbar {
    display: none;
}

.btn {
    transition: 0.3s;
    border-style: none;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn:active {
    transform: scale(0.8);
    transition: 0.3s;
}

.btn:hover .ion {
    color: var(--bs-primary);
}

.inactive-btn {
    box-shadow: none !important;
    cursor: not-allowed !important;
}


/*.container .right_side_bar::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*}*/

/*.container .right_side_bar::-webkit-scrollbar-thumb {*/
/*    background-color: darkgrey;*/
/*    outline: 1px solid slategrey;*/
/*}*/

.right_side_bar .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.right_side_bar .today-date .event-day {
    font-size: 2em;
    font-weight: 800;
    color: var(--bs-dark);
}

.right_side_bar .today-date .event-date {
    font-size: 1.1em;
    font-weight: 300;
    color: var(--bs-dark);
}

.accordion-button.collapsed {
    background-color: var(--bs-primary-bg-subtle);
    display: flex;
}

.details {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    color: var(--bs-dark);
}

.hoverable:hover .details {
    display: block;
}

/* ************************************************** */
/* ********************** BODY ********************** */
/* ************************************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', sans-serif;
}

body {
    background-color: var(--bs-dark);
    overflow: hidden;
}

.accordion-item, .accordion-button {
    border-radius: 20px !important;
    border: 0 !important;
}

.accordion-button {
    transition: 0.3s;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: var(--bs-primary) !important;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active, .accordion-button:focus {
    border: hidden !important;
    box-shadow: none !important;
    outline: 0;
}

.accordion-item + .accordion-item {
    margin-top: 10px;
}