.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: auto; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
}

/* The navigation menu links */
.sidenav button {
    text-align: center;
    width:250px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    margin-bottom: 10px;
}

.collapse-button{
    background-color: var(--bs-primary);
    border-radius: 10px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    padding-bottom:20px;
}

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: var(--bs-light);
}

.closeBttn, .createEventBttn, .saveEventBttn, .btn-close , .createNewMemberBttn{
    background-color: var(--bs-primary);
    border-radius: 10px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: auto;
}
.closeBttn{
    background-color: red;
}

 .crewButton{
    background-color: var(--bs-primary-bg-subtle);
    border-radius: 10px;
    border-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);
    margin-left: 10%;
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', sans-serif;
}
.container.Booking,.container.Crew{
    margin-left: 300px;

}
.card-body a{
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border-radius: 10px;
    border: 1px solid var(--bs-dark);
}
.card-body,.collapse.booking, .collapse.crew{
    background-color: var(--bs-dark);
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
    border-radius: 10px;
}

.createNewMemberBttn,.createEventBttn{
    margin-left: 25px;
}

