.shotmaniacs-black {
    color: #1F1F1F
}

.shotmaniacs-gray {
    color: #525252
}

.shotmaniacs-light-blue {
    color: #1696D2
}

.shotmaniacs-peal{
    color: #F1F1F1
}

nav {
    background-color: #1696D2;
    margin-bottom: 50px;
}

.navbar-text {
    color: #F1F1F1;
}

.login-btn{
    background-color: #1696D2
}

* {
    font-family: 'Kiona', sans-serif;
}

