
.welcome-message {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.dashboardButton {
    border-radius: 10px;
    border-color: #F1F1F1;
    background-color: #1696D2;
    color: #F1F1F1;
}

.crewButton {
    border-radius: 10px;
    border-color: #F1F1F1;
    background-color: #1696D2;
    color: #F1F1F1;
}

.button-container {
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

* {
    font-family: 'Kiona', sans-serif;
}