.ps-3 {
    color: var(--bs-light);

}

.login-btn {
    background-color: var(--bs-primary);
    border-radius: 20px;
}

.login {
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
    /*color:var(--bs-light);*/
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    /*display: flex;*/
    /*align-items: flex-start;*/

    /*border: 1px solid var(--bs-primary);*/
    /*border-radius: 5px;*/
    /*background-color: var(--bs-dark);*/
}

.email.ion-icon, .password.ion-icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.login-container {
    font-size: 40px;
    color: var(--bs-light);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('/static/img/img411.jpg') no-repeat center;
    background-size: cover;

}

.form-control {
    margin-bottom: 20px;
    width: 400px !important;
}

.sign {
    visibility: visible;
}


* {
    font-family: 'Kiona', sans-serif;
    color: var(--bs-primary);
    font-weight: bolder;
}

.navbar-custom .navbar-brand {
    color: var(--bs-light);
}