nav {
    background-color: var(--bs-primary);
    margin-bottom: 50px;
}
.navbar {
    height: 100px;
}
.navbar-text {
    color: var(--bs-light );
}

.navbar-brand {
    position:absolute;
    left: 10px;
}

.logout{
    position: absolute;
    right: 10px;
    background-color: var(--bs-primary);
    border-radius: 10px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: auto;
}
