nav {
    background-color: var(--bs-primary);
    margin-bottom: 50px;
}
.navbar {
    height: 100px;
    background-color: var(--bs-dark) ;
    border-bottom: 1px solid  ;
    border-bottom-color: var(--bs-primary);
}
.navbar-text {
    color: var(--bs-primary );
    font-weight: bolder;
}

.navbar-brand {
    position:absolute;
    left: 10px;
}

.logout{
    position: absolute;
    right: 10px;
    background-color: var(--bs-primary);
    border-radius: 10px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    font-weight: bolder;
    margin-left: auto;
}

body{
    background: var(--bs-dark);
}
