.welcome-message {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 20px;
}

.announcementText, .eventsText{
    font-weight: bold;
    font-size: 22px;
}

.announcementsContainer {
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;

    /*display: flex;*/
    /*align-items: flex-start;*/

    border: 1px solid var(--bs-dark);
    border-radius: 5px;
    background-color: var(--bs-light);
}


.eventsContainer {
    width: 50%;
    height: fit-content;
    margin: auto;
    padding: 10px;

    border: 1px solid;
    border-color: var(--bs-dark);
    border-radius: 5px;
    background-color: var(--bs-light);
}

.postAnnouncementBttn, .saveBttn, .closeBttn, .btn-close, .accordion-button {
    background-color: var(--bs-primary);
    border-radius: 10px;
    border-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: auto;
}

.accordion-events-button{
    background-color: var(--bs-primary-bg-subtle);
    border-radius: 10px;
    border-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);
    margin-left: 10%;
    margin-bottom: 10px;
}


.accordion-button{
    margin-bottom: 10px;
    text-align: justify;
    display: inline-block;
    width: 100%;
}

.closeBttn{
    background-color: red;
}

.inputTitle{
    display: block;
    width: 100%;
    overflow-y: auto;
}

.announcementsContainer .row .col .flex-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: var(--bs-primary);
}

.announcement1, .announcement2, .announcement3{
    border-bottom: 1px solid;
    border-color: var(--bs-primary);
}
/* style.css */

.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.title {
    font-weight: bold;
}
.announcementTitle, .accordion-item {
    font-size: 18px;
    display: block;
}
.dateTime {
    font-size: 14px;
    display: block;
}

.announcementContent{
    font-size: 14px;
}

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: var(--bs-light);
}

* {
    font-family: 'Kiona', sans-serif;
}
